{% extends "users/base.html" %}

{% block title %}Ввод нового пароля{% endblock %}

{% block content %}
<h2>Введите новый пароль</h2>
<form method="post">
    {% csrf_token %}
    <div class="mb-4">
        <label for="id_new_password1" class="block text-gray-700 text-sm font-bold mb-2">Новый пароль:</label>
        {{ form.new_password1 }}
        {% if form.new_password1.errors %}
        <p class="text-red-500 text-xs italic">{{ form.new_password1.errors.0 }}</p>
        {% endif %}
    </div>
    <div class="mb-4">
        <label for="id_new_password2" class="block text-gray-700 text-sm font-bold mb-2">Подтвердите пароль:</label>
        {{ form.new_password2 }}
        {% if form.new_password2.errors %}
        <p class="text-red-500 text-xs italic">{{ form.new_password2.errors.0 }}</p>
        {% endif %}
    </div>
    <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        Сохранить новый пароль
    </button>
</form>
{% endblock %}