{% load i18n %}{% autoescape off %}
{% translate "Здравствуйте! Вы запросили сброс пароля для вашего аккаунта на сайте" %} {{ site_name }}.

{% translate "Перейдите по ссылке ниже чтобы установить новый пароль:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

{% translate "Если вы не запрашивали сброс пароля, проигнорируйте это письмо." %}

{% translate "Спасибо за использование нашего сайта!" %}

{% endautoescape %}