{% extends "users/base.html" %}

{% block title %}Сброс пароля{% endblock %}

{% block content %}
<h2>Сброс пароля</h2>
<form method="post">
    {% csrf_token %}
    <div class="mb-4">
        <label for="id_email" class="block text-gray-700 text-sm font-bold mb-2">Email:</label>
        {{ form.email }}
        {% if form.email.errors %}
        <p class="text-red-500 text-xs italic">{{ form.email.errors.0 }}</p>
        {% endif %}
    </div>
    <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        Отправить ссылку для сброса
    </button>
</form>
{% endblock %}