{% extends "users/base.html" %}

{% block title %}Регистрация пользователя{% endblock %}

{% block content %}
<h2>Регистрация нового пользователя</h2>

<form method="post">
    {% csrf_token %}

    <div>
        <label for="id_email">Email:</label>
        {{ form.email }}
        {% if form.email.errors %}
            <div style="color: red;">{{ form.email.errors }}</div>
        {% endif %}
    </div>
    <div>
        <label for="id_last_name">Фамилия:</label>
        {{ form.last_name }}
        {% if form.last_name.errors %}
        <div style="color: red;">{{ form.last_name.errors }}</div>
        {% endif %}
    </div>
    <div>
        <label for="id_first_name">Имя:</label>
        {{ form.first_name }}
        {% if form.first_name.errors %}
            <div style="color: red;">{{ form.first_name.errors }}</div>
        {% endif %}
    </div>



    <div>
        <label for="id_role">Роль:</label>
        {{ form.role }}
        {% if form.role.errors %}
            <div style="color: red;">{{ form.role.errors }}</div>
        {% endif %}
    </div>

    <div>
        <label for="id_password1">Пароль:</label>
        {{ form.password1 }}
        {% if form.password1.errors %}
            <div style="color: red;">{{ form.password1.errors }}</div>
        {% endif %}
    </div>

    <div>
        <label for="id_password2">Подтверждение пароля:</label>
        {{ form.password2 }}
        {% if form.password2.errors %}
            <div style="color: red;">{{ form.password2.errors }}</div>
        {% endif %}
    </div>

    <button type="submit">Зарегистрировать</button>
</form>
<div class="mt-5 max-w-lg mx-auto">
    <a href="{% url 'users:home' %}" class="text-blue-600 hover:underline">← Назад на главную</a>
</div>
{% endblock %}